@import "tailwindcss";

/*.header {
    
    margin: 0 auto;
    background-color: bisque;
    text-align: center;
    color: #002020;
    padding: 10px;
}

.hamburguer {
    z-index: 2;
    display: none;
}

.close{
    display: none;
}

.nav {
    width: 100%;
    background-color: aquamarine;
    z-index: 10;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }


.nav ul li:hover {
    background-color: #002020;
}

a {
    color:#888;
    text-align: center;
    text-decoration: none;
    padding:0 1rem 0 1rem ;
            
}

a:hover{
    color:fff;
}

.li_item{
    list-style: none;
}

/************Productos******************//*
.expositor{

    z-index: 1;
    position:relative;
    text-align: center;


}

.h1 {
    margin: auto;

}

.prods{
    width: 100%;
    text-align: center;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/**************Card **************//*
.card {
    width: 200px;
    height:300px;
    overflow: hidden;
    border: 1px solid #888;
    box-shadow: 5px 5px 5px 0px rgba(8,8,8,0.33);
    margin: 1rem 4rem;
    text-align: center;
}
 .imgCard {
    width: 60px;
    height: 60px;
 }

 /******************Carrito*********************************************************************//*

 .cartContainer {
   text-align: center;

 }

 .cartIcon {
    width: 100%;
 }

     .cartImg{
        display: inline-block;
    }

         .cartTag{
        display: inline-block;
    }

    .cardCart{
        width: 200px;
        height:300px;
        overflow: hidden;
        border: 1px solid #888;
        box-shadow: 5px 5px 5px 0px rgba(8,8,8,0.33);
        margin: 1rem 4rem;
        padding: 4rem 0 0 0;
        text-align: center;
    }


 .cart{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
    padding: 1rem;
    margin: 1rem;
 }

 .cardDetalles {
    width: 50%;
    margin: auto;
    text-align: center;
 }

 .imgDetalles{
    width: 200px;
    height: auto;
 }

 /***************Footer****************************//*
.footer {
    display: block;
    height: 2rem;
    padding: rem;
    background-color: aquamarine;

}

.foot{
    text-align: center;
}


@media  screen and (max-width: 550px) {

    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}